[build]
  command = "npm run build"
  publish = "dist"

[build.processing]
  skip_processing = false
  [build.processing.html]
    pretty_urls = true
  [build.processing.images]
    compress = true

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "GET, OPTIONS"
    Access-Control-Expose-Headers = "Content-Length, Content-Range"
    Referrer-Policy = "no-referrer-when-downgrade"
    Content-Security-Policy = "upgrade-insecure-requests; block-all-mixed-content; media-src *; img-src * data:;"